Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2020-10, with the labels that each got.

#660 Update bedlevelvisualizer.md
  _plugins/bedlevelvisualizer.md
Labels: needs review

#663 Added plugin Mattacloud Beta
  _plugins/mattacloud.md
  assets/img/plugins/mattacloud/ai_detection.jpg
  assets/img/plugins/mattacloud/communication.png
  assets/img/plugins/mattacloud/mattacloud.png
Labels: needs review, needs work

#666 Update listing for stats plugin to point to new repo
  _plugins/stats.md
Labels: needs work

#670 Update Arc Welder Page
  _plugins/arc_welder.md
  assets/img/plugins/arc_welder/arc_creation_example.png
Labels: needs review
