Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2020-09, with the labels that each got.

#601 Update listing for WS281x LED Status
  _plugins/virtual_printerconfig.md
  _plugins/ws281x_led_status.md
  assets/img/plugins/ws281x_led_status/color_wipe.gif
  assets/img/plugins/ws281x_led_status/printing_effects.png
  assets/img/plugins/ws281x_led_status/rainbow.gif
  assets/img/plugins/ws281x_led_status/settings_overview.png
  assets/img/plugins/ws281x_led_status/ws281x_settings.png
  assets/img/plugins/ws281x_led_status/ws281x_wizard.png
Labels: needs review

#607 ender3v2tempfix
  _plugins/ender3v2tempfix.md
Labels: needs work

#609 ender3v2tempfix; updated readme and Python compatibility
  _plugins/ender3v2tempfix.md
Labels: needs review

#610 youtubelive
  _plugins/youtubelive.md
Labels: needs review

#615 FilamentManager: Added new homepage
  _plugins/filamentmanager.md
Labels: needs review

#616 Update OctoKlipper Plugin Repo
  _plugins/klipper.md
Labels: needs review

#620 OctoPrint-BackupScheduler
  _plugins/backupscheduler.md
  assets/img/plugins/backupscheduler/patreon-with-text-new.png
  assets/img/plugins/backupscheduler/paypal-with-text.png
  assets/img/plugins/backupscheduler/screenshot_settings.png
Labels: needs review

#626 fix a html goof
  _plugins/backupscheduler.md
Labels: needs review

#621 Google Drive Backup
  _plugins/googledrivebackup.md
  assets/img/plugins/googledrivebackup/configuration_step2.png
  assets/img/plugins/googledrivebackup/configuration_step6.png
  assets/img/plugins/googledrivebackup/configuration_step7.png
  assets/img/plugins/googledrivebackup/patreon-with-text-new.png
  assets/img/plugins/googledrivebackup/paypal-with-text.png
Labels: needs review

#632 Renamed the "Ender-3 v2 Temperature Fix" plugin & updated readme
  _plugins/ender3v2tempfix.md
Labels: needs review

#638 Adopt Filament Sensor Reloaded
  _data/notices.yaml
  _data/update_check_overlays.yaml
  _plugins/filament_sensor_reloaded.md
Labels: needs review

#641 Update MarlinGcodeDocumentation with Python 2.7
  _plugins/marlingcodedocumentation.md
Labels: needs review

#637 Dashboard plugin handover
  _plugins/dashboard.md
  assets/img/plugins/dashboard/screenshot-2-fullscreen.png
  assets/img/plugins/dashboard/screenshot-2-theme.png
  assets/img/plugins/dashboard/screenshot-2.png
  assets/img/plugins/dashboard/screenshot-theme.png
  assets/img/plugins/dashboard/screenshot-theme2.png
  assets/img/plugins/dashboard/screenshot.png
Labels: needs review, needs work

#643 MarlinGcodeDocumentation: Support MultiLineTerminal
  _plugins/marlingcodedocumentation.md
  assets/img/plugins/marlingcodedocumentation/screenshot-example-multiline-commands.png
Labels: needs review
