Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2021-05, with the labels that each got.

#866 Update Camera Settings plugin to require OP 1.4.0+
  _plugins/camerasettings.md
Labels: needs review

#864 Add Filament Scale Enhanced
  _plugins/filament_scale.md
  assets/img/plugins/filament_scale/configuration.png
  assets/img/plugins/filament_scale/display.png
Labels: needs work

#869 add OctoDash Companion
  _plugins/octodashcompanion.md
  assets/img/plugins/octodashcompanion/patreon-with-text-new.png
  assets/img/plugins/octodashcompanion/paypal-with-text.png
  assets/img/plugins/octodashcompanion/screenshot_settings.png
Labels: needs review

#874 add PSU Control - Wemo
  _plugins/psucontrol_wemo.md
  assets/img/plugins/psucontrol_wemo/patreon-with-text-new.png
  assets/img/plugins/psucontrol_wemo/paypal-with-text.png
Labels: needs review

#878 NetworkHealth v1.0.4
  _plugins/networkhealth.md
Labels: needs review

#884 wifistatus bugfix
  _plugins/wifistatus.md
Labels: needs review

#883 AutoLogout: Update description and removed screenshot
  _plugins/AutoLogout.md
Labels: needs review

#885 add psucontrol_shelly and psucontrol_homeassistant
  _plugins/psucontrol_homeassistant.md
  _plugins/psucontrol_shelly.md
  assets/img/plugins/psucontrol_homeassistant/settings.png
  assets/img/plugins/psucontrol_shelly/cloud.png
  assets/img/plugins/psucontrol_shelly/local.png
Labels: needs review, needs work
