Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2021-01, with the labels that each got.

#732 OctoPrint-Slic3r supports python3
  _plugins/slic3r.md
Labels: needs review

#733 Add note about requiring OctoPrint-PrintTimeGenius
  _plugins/TimeToFilament.md
Labels: needs review

#736 Added plugin OctoBuddy
  _plugins/OctoBuddy.md
  assets/img/plugins/OctoBuddy/OctoBuddySettings.png
  assets/img/plugins/OctoBuddy/ShelfMount1.jpg
  assets/img/plugins/OctoBuddy/ShelfMount2.jpg
  assets/img/plugins/OctoBuddy/ShelfMount4.jpg
Labels: needs work

#735 Change author format to fit with other plugins
  _plugins/continuousprint.md
Labels: needs review

#737 Added plugin OctoLight
  _plugins/octolight.md
  assets/img/plugins/octolight/screenshoot.png
Labels: needs work

#740 Add usb_keyboard plugin entry
  _plugins/usb_keyboard.md
  assets/img/plugins/usb_keyboard/example_10key_evdev_commands.png
  assets/img/plugins/usb_keyboard/example_10key_evdev_keyboard.png
  assets/img/plugins/usb_keyboard/example_10key_evdev_variables.png
  assets/img/plugins/usb_keyboard/example_gcode.png
  assets/img/plugins/usb_keyboard/example_octoprint.png
  assets/img/plugins/usb_keyboard/example_psu_plugin.png
  assets/img/plugins/usb_keyboard/example_qwerty.png
  assets/img/plugins/usb_keyboard/example_variables.png
Labels: needs review

#742 MarlinGcodeDocumentation: Klipper support
  _plugins/marlingcodedocumentation.md
Labels: needs review, needs work

#743 Fix master archive link.
  _plugins/octolapse.md
Labels: needs review

#747 Broken screenshot
  _plugins/uicustomizer.md
Labels: needs review

#748 Fixed header size
  _plugins/toptemp.md
Labels: needs review

#728 Added MeatPack plugin
  _plugins/meatpack.md
  assets/img/plugins/meatpack/meatpack.png
  assets/img/plugins/meatpack/ss1.png
Labels: needs review

#751 Update ipOnConnect.md
  _plugins/ipOnConnect.md
Labels: needs review
