Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2021-04, with the labels that each got.

#850 Retire OctoPrint Anywhere from the plugin manager
  _plugins/anywhere.md
  assets/img/plugins/anywhere/screenshot1.png
  assets/img/plugins/anywhere/screenshot2.png
  assets/img/plugins/anywhere/screenshot3.png
  assets/img/plugins/anywhere/screenshot4.png
  assets/img/plugins/anywhere/screenshot5.png
  assets/img/plugins/anywhere/setup_screenshot0.png
  assets/img/plugins/anywhere/setup_screenshot1.png
  assets/img/plugins/anywhere/setup_screenshot2.png
  assets/img/plugins/anywhere/setup_screenshot3.jpg
  assets/img/plugins/anywhere/setup_screenshot4.png
  assets/img/plugins/anywhere/setup_screenshot5.jpg
Labels: needs review

#861 [Simple Emergency Stop] Reduce donation size button
  _plugins/simpleemergencystop.md
Labels: needs more info, needs work

#859 update screen shots, and title
  _plugins/CR10_Leveling.md
  assets/img/plugins/CR10Leveling/control.png
  assets/img/plugins/CR10Leveling/settings.png
  assets/img/plugins/CR10_Leveling/control.png
  assets/img/plugins/CR10_Leveling/img1.png
  assets/img/plugins/CR10_Leveling/settings.png
Labels: needs review, needs work

#858 Add NetworkHealth plugin
  _plugins/networkhealth.md
  assets/img/plugins/networkhealth/logo.png
Labels: needs work

#862 Network Health -- Updated Instructions
  _plugins/networkhealth.md
Labels: needs review

#865 Added plugin camerasettings
  _plugins/camerasettings.md
  assets/img/plugins/camerasettings/screenshot.png
Labels: needs work
