Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2022-04, with the labels that each got.

#1038 Added plugin pwmbuzzer
  _plugins/pwmbuzzer.md
  assets/img/plugins/pwmbuzzer/bmc-button-sm.png
  assets/img/plugins/pwmbuzzer/composer.png
  assets/img/plugins/pwmbuzzer/config.png
  assets/img/plugins/pwmbuzzer/events.png
  assets/img/plugins/pwmbuzzer/gpio-pwm-buzzer-diagram.png
Labels: needs review

#1042 Added plugin framer
  _plugins/framer.md
  assets/img/plugins/framer/screen.png
  assets/img/plugins/framer/settings.png
Labels: needs review

#1045 Arducam Camera Control
  _plugins/ArducamCameraControl.md
Labels: needs review

#1046 Bugfix/discordremote
  _plugins/DiscordRemote.md
  assets/img/plugins/discordremote/featured.jpg
  assets/img/plugins/discordremote/settings.jpg
  assets/img/plugins/discordremote/snapshot.jpg
Labels: needs review

#1047 Bugfix/discordremote
  _plugins/discordremote.md
Labels: needs review

#959 Add OctoPrint-CrealityCloud Plugin
  _plugins/crealitycloud.md
  assets/img/plugins/crealitycloud/Setup2-1.png
  assets/img/plugins/crealitycloud/Setup2-2.png
  assets/img/plugins/crealitycloud/Setup3.png
  assets/img/plugins/crealitycloud/generateKey2-1.png
  assets/img/plugins/crealitycloud/generateKey2-2.png
  assets/img/plugins/crealitycloud/main.png
  assets/img/plugins/crealitycloud/slice&print2-1.png
  assets/img/plugins/crealitycloud/slice&print2-2.png
  assets/img/plugins/crealitycloud/slicing&printing1.png
  assets/img/plugins/crealitycloud/slicing&printing2.png
  assets/img/plugins/crealitycloud/uploadKey.png
Labels: needs work, needs review

#1043 Add psucontrol_tapo plugin description
  _plugins/psucontrol_tapo.md
Labels: needs work, needs review

#1049 Added plugin Detector2.
  _plugins/detector2.md
  assets/img/plugins/detector2/OctoprintPreview.png
  assets/img/plugins/detector2/errorPreview.png
  assets/img/plugins/detector2/mailPreview.png
  assets/img/plugins/detector2/outlookPreview.png
  assets/img/plugins/detector2/settingsPreview.png
Labels: needs work

#1052 Added plugin psucontrol_opigpio
  _plugins/psucontrol_opigpio.md
Labels: needs review

#1050 add Bed Ready plugin
  _plugins/bedready.md
  assets/img/plugins/bedready/github.png
  assets/img/plugins/bedready/patreon-with-text-new.png
  assets/img/plugins/bedready/paypal-with-text.png
  assets/img/plugins/bedready/screenshot_bed_not_ready.png
  assets/img/plugins/bedready/screenshot_settings.png
  assets/img/plugins/bedready/screenshot_test_results.png
Labels: needs review

#1055 bugfix ArducamCameraControl
  _plugins/ArducamCameraControl.md
Labels: needs review
