Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2022-08, with the labels that each got.

#1096 Adding prusammu plugin to plugins list
  _plugins/prusammu.md
  assets/img/plugins/prusammu/modal.png
  assets/img/plugins/prusammu/nav.png
  assets/img/plugins/prusammu/settings.png
Labels: needs work, needs review

#1095 Add mkswifisdcard plugin
  _plugins/mkswifisdcard.md
  assets/img/plugins/mkswifisdcard/plugin-settings.png
Labels: needs work, needs review

#1098 Update SlicerEstimator.md
  _plugins/SlicerEstimator.md
Labels: needs review

#1099 Hint about archive url and branching strategy.
  help/registering/index.md
Labels: needs work

#1100 Updated documentation for already registered autoprint plugin
  _plugins/autoprint.md
  assets/img/plugins/autoprint/autoprint_filebrowser-icon.png
  assets/img/plugins/autoprint/autoprint_settings.png
  assets/img/plugins/autoprint/autoprint_tab.png
Labels: needs review

#1072 Add karmen connector plugin
  _plugins/karmen.md
  _topics/remote_access.md
  assets/img/plugins/karmen/karmen_screenshot.png
Labels: needs review
