Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2023-07, with the labels that each got.

#1207 Addition of Octolight Home Assistant
  _plugins/octolightHA.md
  assets/img/plugins/octolightHA/screenshot.png
  assets/img/plugins/octolightHA/settings1.png
Labels: needs work

#1209 Correct install URL OctolightHA
  _plugins/octolightHA.md
Labels: needs review

#1217 webcamextras, update description
  _plugins/webcamextras.md
Labels: needs review

#1216 New Plugin "Wattometer"
  _plugins/Wattometer.md
  assets/img/plugins/Wattometer/Wattometer_Settings.png
  assets/img/plugins/Wattometer/Wattometer_Tab.png
Labels: needs work, needs review

#1218 OctoRelay: update Python version support
  _plugins/octorelay.md
Labels: needs review

#1219 OctoRelay: changing the `archive` URL
  _plugins/octorelay.md
Labels: needs review

#1220 OctoRelay: updating compatibility
  _plugins/octorelay.md
Labels: needs review
