Repository OctoPrint/plugins.octoprint.org, pull requests merged in 2024-09, with the labels that each got.

#1318 OctoText plugin - update repo URL, author, and minor text changes
  _plugins/OctoText.md
Labels: needs review

#1320 mark SpoolManager abandoned
  _plugins/SpoolManager.md
Labels: needs review

#1323 fix broken image link skipto
  _plugins/SkipTo.md
Labels: needs review

#1324 Adopt SpoolManager
  _data/notices.yaml
  _data/update_check_overlays.yaml
  _plugins/SpoolManager.md
Labels: needs work

#1326 Updated cmdexec plugin informations
  _plugins/cmdexec.md
  assets/img/plugins/cmdexec/setting.png
Labels: needs work

#1325 Added plugin portretry
  _plugins/portretry.md
Labels: needs work, needs review

#1327 NavbarTemp plugin - updated change notes with latest releases
  _plugins/navbartemp.md
Labels: needs review
